### Dùng cho Admin lúc deploy Secret Number Game ###

# Blockfrost API Key cho mạng Preprod
BLOCKFROST_API_KEY="preprod..."

# Mnemonic 15 hoặc 24 từ của ví Admin (dùng để khởi tạo game)
MNEMONIC="word1 word2 ... word24"

# Cấu hình khởi tạo Game
INITIAL_SECRET=100
INITIAL_TREASURY_ADA=5000